* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body{
    background-color: rgb(169, 198, 188);
    padding-top: 80px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;

}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000 ;
    font-weight: 100;
    padding: 8px;
 }

form button {
    background-color: blue;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
   
}

table th {
    border-bottom: 2px solid #000;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
}

tbody td {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba (0 , 0 , 0 , 0.1);
}